/* Кнопка Наверх */
.scrollToTop{
    text-align:center;
    font-weight: bold;
    text-decoration: none;
    position:fixed;
    bottom:30px;
    left:10px;
    display: none;
}
.scrollToTop:hover{
    text-decoration:none;
}
.scrollToTop .panel{
    margin-bottom: 0;
}
/* Кнопка Наверх */
