{% extends "skeleton.html" %}
{% block body %}

<h3>Список конфигураций</h3>
<hr />

<form action="/diff" method="post">
{% for item in pagedata['backups'] %}
<div class="row">
<div class="col py-2 {{ loop.cycle('', 'bg-light') }}">

<div class="float-right">
<a class="btn btn-outline-secondary" href="/backup/{{ item.id }}/upload"><i class="fa fa-upload"></i></a>
<a class="btn btn-outline-secondary" href="/backup/{{ item.id }}/download"><i class="fa fa-download"></i></a>
<a class="btn btn-outline-secondary" href="/backup/{{ item.id }}/edit"><i class="fa fa-edit"></i></a>
<a class="btn btn-outline-danger" href="/backup/{{ item.id }}/delete"><i class="fa fa-remove"></i></a>
</div>

<input type="checkbox" name="backup" value="{{ item.id }}"/>
<a href="/backup/{{ item.id }}">{{ item.title }}</a>
<br />
<small class="text-muted">
Устройство: <a href="/device/{{ item.device.id }}">{{ item.device.name }}</a>
&nbsp;
Создано: {{ item.created.strftime('%Y-%m-%d %H-%M') }}
</small>

</div>
</div>
{% endfor %}

<button class="btn btn-outline-success">Сравнить</button>


<div class="row mt-3">
<div class="col text-center">
{% include 'pagination.html' %}
</div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item active">Список конфигураций</li>
</ol>
{% endblock %}

{% block script %}
{% endblock %}
