{% extends "skeleton.html" %}
{% block body %}

<h3>
<a class="btn btn-outline-success float-right" href="/device/add"><i class="fa fa-plus"></i> Добавить устройство</a>
Список устройств</h3>
<hr />


{% for item in pagedata['devices'] %}
<div class="row">
<div class="col py-2 {{ loop.cycle('', 'bg-light') }}">
<div class="float-right">
    <a class="btn btn-outline-secondary" href="/device/{{ item.id }}/edit"><i class="fa fa-edit"></i></a>
    <a class="btn btn-outline-danger" href="/device/{{ item.id }}/delete"><i class="fa fa-remove"></i></a>
</div>

<a href="/device/{{ item.id }}">{{ item.name }}</a>
<br />
Количество: {{ item.backups|length }}

</div>
</div>
{% endfor %}

<div class="row mt-3">
<div class="col text-center">
{% include 'pagination.html' %}
</div>
</div>

{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item active">Список устройств</li>
</ol>
{% endblock %}
