{% extends "skeleton.html" %}
{% block body %}
<div class="card">
<div class="card-header">
<a class="btn btn-outline-secondary" href="/device/{{ pagedata['backups'][0].device_id }}"><i class="fa fa-chevron-left"></i></a>
Сравнение конфигураций
</div>
<div class="card-body">
<ul>
    <li><a href="/backup/{{ pagedata['backups'][0].id }}">{{ pagedata['backups'][0].id }}</a> от {{ pagedata['backups'][0].created.strftime('%Y-%m-%d %H-%M') }} устройство <a href="/device/{{ pagedata['backups'][0].device_id }}">{{ pagedata['backups'][0].device.name }}</a></li>
    <li><a href="/backup/{{ pagedata['backups'][0].id }}">{{ pagedata['backups'][1].id }}</a> от {{ pagedata['backups'][1].created.strftime('%Y-%m-%d %H-%M') }} устройство <a href="/device/{{ pagedata['backups'][1].device_id }}">{{ pagedata['backups'][1].device.name }}</a></li>
</ul>
    <pre>{{ pagedata['diff'] }}</pre>
</div>
</div>
{% endblock %}
