{% extends "skeleton.html" %}
{% block body %}

<div class="card">
<div class="card-header card-danger">Ошибка {{ error_code }}</div>
<p class="text-center">{{ error_message }}</p>
<p class="text-center"><img class="img-thumbnail" src="/static/{{ error_code }}.jpg" /></p>
</div>
</div>

{% endblock %}
