<div class="container-fluid mt-3">
    <div class="row">
        <div class="col text-center">
              &copy; <A href='http://remizoffalex.ru' >RemiZOffAlex</a>
        </div>
    </div>
</div>
