{% if pagedata['pagination'].pages <= 1 %}
<div class="btn btn-outline-secondary">...</div>
{% else %}

{% if pagedata['pagination'].has_prev %}
<a class="btn btn-outline-secondary pull-left" href="{{ pagedata['pagination'].url }}/{{ pagedata['pagination'].page-1 }}">Предыдущая</a>
{% endif %}

{% for page in pagedata['pagination'].iter_pages() %}

{% if page %}
<a class="btn btn-outline-secondary" href="{{ pagedata['pagination'].url }}/{{ page }}">{{ page }}</a>
{% else %}
<div class="btn btn-outline-secondary">...</div>
{% endif %}

{% endfor %}

{% if pagedata['pagination'].has_next %}
<a class="btn btn-outline-secondary float-right" href="{{ pagedata['pagination'].url }}/{{ pagedata['pagination'].page+1 }}">Следующая</a>
{% endif %}

{% endif %}
