<!DOCTYPE html>
<html lang="ru">
    {% include 'header.html' %}
<body>
<section id="app">
<div class="container">
{% include 'navbar.html' %}

{% block body %}
{% endblock %}
</div>

{% block breadcrumb %}
{% endblock %}

{% include 'footer.html' %}
</section>

{% block script %}
{% endblock %}
</body>
</html>
