{% extends "skeleton.html" %}
{% block body %}

<h3>
<a class="btn btn-outline-secondary" href="/device/{{ pagedata['device'].id }}"><i class="fa fa-chevron-left"></i></a>
<a href="/device/{{ pagedata['device'].id }}">{{ pagedata['device'].name }}</a>
</h3>
<small class="text-muted">IP: {{ pagedata['device'].ip }}</small>
<hr />

<form method="post" action="/device/{{ pagedata['device'].id }}/save">

<div class="form-group">
{{ pagedata['form'].title.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].title(class="form-control") }}
</div>
</div>

{{ pagedata['form'].backuptext.label }}
<div style="margin-bottom: 25px">
<textarea v-model="backuptext" name="backuptext" class="form-control" rows="16"></textarea>
</div>

<div class="btn btn-outline-secondary" v-on:click="getBackup({{ pagedata['device'].id }})">Получить настройки с устройства</div>
<button class="btn btn-outline-success pull-right" type="submit">Сохранить</button>
</form>
<p>Ошибка: {{ pagedata['error'] }}</p>

{% endblock %}

{% block script %}
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    data: {
        backuptext: ''
    },
    methods: {
        getBackup: function(id) {
            var vm = this;
            axios.post(
                '/api',
                {
                    "jsonrpc": "2.0",
                    "method": 'device.getBackup',
                    "params": {
                        "id": id
                    },
                    "id": 1
                }
            ).then(
                function(response) {
                    if ('result' in response.data) {
                        vm.backuptext = response.data['result']['settings'];
                    } else if ('error' in response.data) {
                        console.log(response.data['error']);
                    }
                }
            );
        }
    }
})
</script>
{% endblock %}
