{% extends "skeleton.html" %}
{% block body %}

<div class="card">
<div class="card-header">
<a class="btn btn-outline-secondary" href="/device/{{ pagedata['device'].id }}"><i class="fa fa-chevron-left"></i></a>
Удаление устройства {{ pagedata['device'].name }}
</div>

<div class="card-body">
<form method="post" action="/device/{{ pagedata['device'].id }}/delete">
<p>Вы уверены, что хотите безвозвратно удалить {{ pagedata['device'].name }}, и все связанные с этим устройством резервные копии?</p>

<button class="btn btn-outline-danger pull-right">Удалить</button>
<a class="btn btn-outline-success" href="/device/{{ pagedata['device'].id }}">Отменить</a>
</form>
</div>
</div>

{% endblock %}
