{% extends "skeleton.html" %}
{% block body %}

<h3>
<div class="float-right">
    <a class="btn btn-outline-success" href="/device/{{ pagedata['device'].id }}/backup">
    <i class="fa fa-plus"></i> Создать резервную копию
    </a>
    <a class="btn btn-outline-secondary" href="/device/{{ pagedata['device'].id }}/edit"><i class="fa fa-edit"></i></a>
    <a class="btn btn-outline-danger" href="/device/{{ pagedata['device'].id }}/delete"><i class="fa fa-remove"></i></a>
</div>
<a class="btn btn-outline-secondary" href="/devices"><i class="fa fa-chevron-left"></i></a>
Название: {{ pagedata['device'].name }}<br />
</h3>
<hr />
<div class="row">
<div class="col">
<small class="text-muted">IP: {{ pagedata['device'].ip }}</small>
</div>
</div>

<form action="/diff" method="post">
{% for item in pagedata['backups'] %}
<div class="row">
<div class="col py-2 {{ loop.cycle('', 'bg-light')}}">

<div class="float-right">
<a class="btn btn-outline-secondary" href="/backup/{{ item.id }}/download"><i class="fa fa-download"></i></a>
<a class="btn btn-outline-secondary" href="/backup/{{ item.id }}/edit"><i class="fa fa-edit"></i></a>
<a class="btn btn-outline-danger" href="/backup/{{ item.id }}/delete"><i class="fa fa-remove"></i></a>
</div>

<input type="checkbox" name="backup" value="{{ item.id }}"/>
<a href="/backup/{{ item.id }}">{{ item.title }}</a>
<br/>
<small class="text-muted">
Создано: {{ item.created.strftime('%Y-%m-%d %H-%M') }}
</small>

</div>
</div>
{% endfor %}

<div class="row">
<div class="col">
<button class="btn btn-outline-success float-right">Сравнить</button>
</div>
</div>
</form>

{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="/devices">Список устройств</a></li>
    <li class="breadcrumb-item active">Устройство {{ pagedata['device'].name }}</li>
</ol>
{% endblock %}
