{% extends "skeleton.html" %}
{% block body %}

<h3>Добавление нового устройства</h3>
<hr />

<form method="post" action="/device/add">

<div class="form-group">
{{ pagedata['form'].devicename.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].devicename(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].ip.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].ip(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].username.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].username(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].password.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].password(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].sn.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].sn(class="form-control") }}
</div>
</div>

<div class="row">
<div class="col">
<button class="btn btn-outline-success float-right">Отправить</button>
</div>
</div>
</form>
{% endblock %}
