{% extends "skeleton.html" %}
{% block body %}
<h3>
<a class="btn btn-outline-secondary" href="/device/{{ pagedata['device'].id }}"><i class="fa fa-chevron-left"></i></a>
Редактирование данных устройства {{ pagedata['device'].name }}</h3>
<hr />

<form method="post" action="/device/{{ pagedata['device'].id }}/edit">

<div class="form-group">
{{ pagedata['form'].devicename.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].devicename(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].ip.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].ip(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].username.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].username(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].password.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].password(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].sn.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].sn(class="form-control") }}
</div>
</div>

<button type="submit" class="btn btn-outline-success float-right">Сохранить</button>
</form>
{% endblock %}
