{% extends "skeleton.html" %}
{% block body %}
<div class="card">
<div class="card-header">
<a class="btn btn-outline-secondary" href="/backup/{{ pagedata['backup'].id }}"><i class="fa fa-chevron-left"></i></a>
Редактирование конфигурации {{ pagedata['backup'].title }}<br />
Устройство: <a href="/device/{{ pagedata['backup'].device_id }}">{{ pagedata['backup'].device.name }}</a>
</div>

<div class="card-body">
<form method="post" action="/backup/{{ pagedata['backup'].id }}/edit">

<div class="form-group">
{{ pagedata['form'].title.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].title(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].backuptext.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].backuptext(class="form-control", style="font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;", rows=20) }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].comment.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].comment(class="form-control") }}
</div>
</div>

<button class="btn btn-outline-success float-right">Сохранить</button>
</form>
</div>
</div>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="/backups">Список конфигураций</a></li>
    <li class="breadcrumb-item"><a href="/backup/{{ pagedata['backup'].id }}">Конфигурация {{ pagedata['backup'].title }}</a></li>
    <li class="breadcrumb-item active">Редактирование конфигурации</li>
</ol>
{% endblock %}

{% block script %}
{% endblock %}
