{% extends "skeleton.html" %}
{% block body %}
{% raw %}
<h3>
<div class="pull-right">
    <a class="btn btn-outline-secondary" :href="'/backup/' + backup.id + '/edit'"><i class="fa fa-edit"></i></a>
    <a class="btn btn-outline-danger" :href="'/backup/' + backup.id + '/delete'"><i class="fa fa-remove"></i></a>
</div>
<a class="btn btn-outline-secondary" :href="'/device/' + backup.device_id"><i class="fa fa-chevron-left"></i></a>
Конфигурация {{ backup.id }} от {{ backup.created }}<br />
Устройство: <a :href="'/device/' + backup.device_id">{{ backup.device.name }}</a>
</h3>
<hr />

<pre>{{ backup.text }}</pre>
{% endraw %}

{% include 'scroll.html' %}

{% endblock %}

{% block script %}
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    data: {
        backup: {{ pagedata['backup']|tojson|safe }}
    },
    methods: {
    }
})
</script>
{% endblock %}
