{% extends "skeleton.html" %}
{% block body %}
{% raw %}

<h3>
<a class="btn btn-outline-secondary" :href="'/backup/' + backup.id"><i class="fa fa-chevron-left"></i></a>
Удаление конфигурации {{ backup.title }}<br />
Устройство: <a :href="'/device/' + backup.device_id">{{ backup.device.name }}</a>
</h3>
<hr />

<form @submit.prevent="send">

<button type="submit" class="btn btn-outline-danger float-right">Удалить</button>
</form>

{% endraw %}
{% endblock %}

{% block script %}
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    data: {
        backup: {{ pagedata['backup']|tojson|safe }}
    },
    methods: {
        send: function(id) {
            var vm = this;
            axios.post(
                '/api',
                {
                    "jsonrpc": "2.0",
                    "method": 'backup.delete',
                    "params": {
                        "id": vm.backup.id
                    },
                    "id": 1
                }
            ).then(
                function(response) {
                    if ('result' in response.data) {
                        window.location.href = '/device/' + vm.backup.device_id;
                    } else if ('error' in response.data) {
                        console.log(response.data['error']);
                    }
                }
            );
        }
    }
})
</script>
{% endblock %}
