{% extends "skeleton.html" %}
{% block body %}

<div class="card">
<div class="card-header">
<a class="btn btn-outline-secondary" href="/backup/{{ pagedata['backup'].id }}"><i class="fa fa-chevron-left"></i></a>
Загрузить конфигурацию в устройство</div>
<div class="card-body">

<form method="post" action="/backup/{{ pagedata['backup'].id }}/upload">

<div class="form-group">
{{ pagedata['form'].ip.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].ip(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].username.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].username(class="form-control") }}
</div>
</div>

<div class="form-group">
{{ pagedata['form'].password.label }}
<div style="margin-bottom: 25px">
{{ pagedata['form'].password(class="form-control") }}
</div>
</div>

<button class="btn btn-outline-danger float-right">Загрузить</button>
</form>

</div>
</div>
{% endblock %}
